<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Les jeux vidéo toujours en manque d'héroïnes ?</title>
  <link rel="stylesheet" href="static/css/bootstrap-grid.min.css">
  <link href='static/css/sanchez.css' rel='stylesheet'>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/juxtapose.css">


</head>
<body>
        <header role="navigation">
            <h3 class="logo">
                <a href="https://www.francetvinfo.fr/">franceinfo</a>
            </h3>
        </header>

        <section>
                <header id="header">
                    <figure id="image_2529214">
                        <img v-if="!isSmallDevice" src="static/img/cover.jpg" alt="" title="LEA SANCHEZ A PARTIR DES VISUELS DE SQUARE ENIX / CRYSTAL DYNAMICS - RISE OF THE TOMB RAIDER ET LARA CROFT AND THE REMPLE OF OSIRIS" class="b-lazy b-loaded" width="1900px" height="668px">
                        <img v-if="isSmallDevice" src="static/img/cover_mobile.jpg" alt="" title="LEA SANCHEZ A PARTIR DES VISUELS DE SQUARE ENIX / CRYSTAL DYNAMICS - RISE OF THE TOMB RAIDER ET LARA CROFT AND THE REMPLE OF OSIRIS" class="b-lazy b-loaded" width="1900px" height="668px">
                        <figcaption> (LEA SANCHEZ A PARTIR DES VISUELS DE SQUARE ENIX / CRYSTAL DYNAMICS - RISE OF THE TOMB RAIDER ET LARA CROFT AND THE REMPLE OF OSIRIS)</figcaption>
                    </figure>
                    <h1>Jeux vidéo&nbsp;: toujours en manque d'héroïnes ?</h1>
                </header>

                <div id="example-1" class="bootstrap-wrapper">
                    <article class="no-separator chapo points">
                            <div class="small">
                                <p><span class="first-letter">{{ chapo.substring(0,1) }}</span>{{ chapo.substring(1) }}
                                </p>
                            </div>
                    </article>
                    <div v-for="(para, ct) in parasfirstpart" class="container">
                        <article class="no-separator row d-flex justify-content-center">
                            <h2 v-if="para.inter" v-html="para.inter"></h2>
                            <blockquote v-if="para.quote"><p v-html="para.quote.text"></p><span v-html="para.quote.author"></span></blockquote>
                            <div class="small">
                                <p v-html="para.message"></p>
                            </div>
                        </article>
                        <div class="row" v-if="para.img">
                            <div class="col-lg-6 col-md-10 col-sm-12 div-img" v-for="(img, ct) in para.img"> 
                                 <figure  :id="img.id"><img :src="img.src" :alt="img.alt" :title="img.title" class="b-lazy b-loaded" :width="img.width" :height="img.height"><figcaption>{{ img.legend }}</figcaption></figure>
                            </div>
                        </div>                       
                    </div>
                    <div id="dataviz" class="points-before">

                        <div id="inner-dataviz">
                        <h2 class="d_graph_title"><p v-html="dataviz.title"></p></h2>
                        <article class="no-separator">
                            <div class="small">
                                <p v-html="dataviz.description.beginning_desktop + dataviz.description.end" v-if="!isMobile" class="description"></p>
                                <p v-html="dataviz.description.beginning_mobile + dataviz.description.end" v-if="isMobile" class="description"></p>

                                <div class="seeAnimation">
                                    <div><input id="yearRange" type="range" min="2016" max="2018" value="2018" step="1" /><span id="yearSpan">2018</span></div>
                                    <button name="play" id="playButton">Voir les années précédentes</button> 
                                </div>
                                
                            </div>
                        </article>
                        <div id="dataviz-data">

                        </div>

                        <div class="container">
                                <div class="methodo-border">
                                <div class="methodo-title">Méthodologie</div>
                                <div v-for="(methodo, ct) in dataviz.methodo">
                                        <article class="no-separator"><div class="small methodo d_graph_credit">
                                                <p class="bullet methodo-link" v-html="methodo.title" :title="methodo.id"></p></div>
                                                <div class="small methodo-explanation" :id="methodo.id">
                                                    <p v-html="methodo.explanation"></p>
                                                </div>
                                        </article>  
                                </div></div>
                            </div>
                        </div>
                    </div>
                    <div class="points"></div>



                    <div v-for="(para, ct) in parassecondpart" class="container">
                            <article class="no-separator row d-flex justify-content-center">
                                <h2 v-if="para.inter" v-html="para.inter"></h2>
                                <blockquote v-if="para.quote"><p v-html="para.quote.text"></p><span v-html="para.quote.author"></span></blockquote>
                                <div class="small">
                                    <p v-html="para.message"></p>
                                    <div v-if="para.tweet" v-html="para.tweet" class="toCenter"></div>
                                </div>
                                
                            </article>
                            <div class="row" v-if="para.img">
                                <div class="col-lg-6 col-md-10 col-sm-12 div-img" v-for="(img, ct) in para.img"> 
                                     <figure  :id="img.id"><img :src="img.src" :alt="img.alt" :title="img.title" class="b-lazy b-loaded" :width="img.width" :height="img.height"><figcaption>{{ img.legend }}</figcaption></figure>
                                </div>
                            </div>                       
                    </div>

                    <div class="container learn-more">
                            <article class="no-separator row d-flex justify-content-center">    
                                <div class="small">
                                    <div v-for="(btn, ct) in learn_more" class="btn btn-primary btn-link" :title="btn.id"><p v-html="btn.title"></p></div>
                                </div>
                                
                            </article>
                            <article class="no-separator row d-flex justify-content-center">
                                    <div class="small">
                                            <div v-for="(btn, ct) in learn_more" :id="btn.id" class="btn-learn">
                                                <p v-html="btn.message"></p>
                                                <figcaption v-if="btn.juxtapose"  class="juxta-explain"><strong>Bougez la glissière à gauche ou à droite pour voir l’évolution de Lara Croft.</strong></figcaption>
                                                <div v-if="btn.juxtapose" class="juxtapose" id="juxtapose-wrapper"  data-startingposition="50%" > 
                                                        <img :src="btn.juxtapose.first_img" />
                                                        <img :src="btn.juxtapose.second_img" />
                                                        
                                                </div>
                                                <figcaption v-if="btn.juxtapose" >Première image : Lara Croft en 1996 (Core / Eidos Interactive / Culture Games)<br>Seconde image : Lara Croft en 2013 (Square Enix / Crystal Dynamics)</figcaption>
                                            </div>
        
                                            
                                    </div>
                            </article>
               
                    </div>
                    <div v-for="(para, ct) in parasthirdpart" class="container">
                            <article class="no-separator row d-flex justify-content-center">
                                <h2 v-if="para.inter" v-html="para.inter"></h2>
                                <blockquote v-if="para.quote"><p v-html="para.quote.text"></p><span v-html="para.quote.author"></span></blockquote>
                                <div class="small">
                                    <p v-html="para.message"></p>
                                </div>
                                
                            </article>
                            <div class="row" v-if="para.img">
                                <div class="col-lg-6 col-md-10 col-sm-12 div-img" v-for="(img, ct) in para.img"> 
                                     <figure  :id="img.id"><img :src="img.src" :alt="img.alt" :title="img.title" class="b-lazy b-loaded" :width="img.width" :height="img.height"><figcaption>{{ img.legend }}</figcaption></figure>
                                </div>
                            </div>                       
                    </div>


                    <div class="container players">
                            <figcaption v-if="isMobile" >Cliquez sur chaque carte pour en savoir plus.</figcaption>
                            <figcaption v-if="!isMobile" >Survolez chaque carte avec votre souris pour en savoir plus.</figcaption>
                        <div class="row d-flex justify-content-center">
                            
                            <div class="flip-card">
                                    <div class="flip-card-inner">
                                      <div class="flip-card-front">
                                          <div class="text-card">
                                            <img class="card-img" src="static/img/temoignage-mido.jpg">
                                            <h2 class="card-name">Coralie, 31 ans</h2>                                                    
                                            <p>Streameuse de jeu vidéo.</p> 
                                            <p>Spécialité : jeux de combat</p> 
                                            <p class="card-quote">“Dès que j’ai le choix, je joue avec un personnage féminin”.</p>
                                        </div>
                                      </div>
                                      <div class="flip-card-back">
                                        <p class="text-card">"Pouvoir jouer une femme, c’est important pour moi. Par exemple, dans le jeu de combat <i>Streetfighter</i>, je vais toujours incarner Ornika, une catcheuse. Dès que j’ai le choix, je prends un personnage féminin. Ça m’aide à me mettre dans sa peau. Du coup, la qualité de jeu n’est pas la même".</p> 
                                      </div>
                                    </div>
                            </div>

                            <div class="flip-card">
                                    <div class="flip-card-inner">
                                            
                                      <div class="flip-card-front">
                                          <div class="text-card">
                                            <img class="card-img" src="static/img/temoignage-violette.jpg">
                                            <h2 class="card-name">Violette, 25 ans</h2>      
                                            <p>Joueuse régulière</p> 
                                            <p>Spécialité : jeux d'aventure</p> 
                                            <p class="card-quote">“Ecouter Lara Croft gémir, ça m’a fait sortir du jeu”</p></div>
                                      </div>
                                      <div class="flip-card-back">
                                        <p class="text-card">"Quand j’étais enfant, Lara Croft c’était un vrai modèle. 
                                                Mais maintenant, quand une femme est trop sexualisée, ça me gêne. 
                                                
                                                Dans une des refontes de Lara Croft, à laquelle je jouais en même temps que mon ex, elle était moins sexualisée qu’avant. Mais son petit déhanchement, le fait qu’on l’entende gémir, ça m’a fait sortir du jeu".
                                            </p> 
                                      </div>
                                    </div>
                            </div>


                            <div class="flip-card">
                                    <div class="flip-card-inner">
                                      <div class="flip-card-front">
                                            <div class="text-card">
                                                <img class="card-img" src="static/img/temoignage-helicia.jpg">
                                                <h2 class="card-name">Hélicia, 23 ans</h2> 
                                                <p>Joueuse occasionnelle</p> 
                                                <p>Spécialité : jeux de combat</p>
                                                <p class="card-quote">“Je n’achète pas les jeux stéréotypés”</p>
                                            </div>
                                      </div>
                                      <div class="flip-card-back">
                                        <p class="text-card">"J’admire les personnages féminins forts, qui vont se battre. J’ai beaucoup vécu le racisme, et ça me sert de catharsis. Mais, du coup, j’ai du mal à me reconnaître dans les figures féminines ultra stéréotypées. J’adore le jeu narratif <i>Life is strange</i>, mais ses héroïnes restent des Américaines blanches, jeunes et jolies".</p> 
                                      </div>
                                    </div>
                             </div>

                        </div>

                        <div v-for="(para, ct) in parasfourthpart" class="container">
                                <article class="no-separator row d-flex justify-content-center">
                                    <h2 v-if="para.inter" v-html="para.inter"></h2>
                                    <blockquote v-if="para.quote"><p v-html="para.quote.text"></p><span v-html="para.quote.author"></span></blockquote>
                                    <div class="small">
                                        <p v-html="para.message"></p>
                                    </div>
                                </article>

                                <div v-if="ct == 13" id="d_container_1556898916" class="d_container_grumpy">
                                    <h2 class="d_graph_title"><p><b>Les femmes restent minoritaires dans les studios de développement</b></p></h2>
                                    <div class="d_graph_subtitle"><p>Malgré une légère augmentation, la part des femmes dans les studios reste faible : elle est passée de 10,4% des effectifs en 2014 à 14% en 2018.</p></div>
                                    <div id="d_graph_1556898916" class="d_graph_grumpy"></div>
                                    <div class="d_graph_credit" ><hr>Source : <span class="link"><a href="http://snjv.org/publications/" target="_blank">Baromètres annuels du Syndicat National du Jeu Vidéo (SNJV)</a></span><hr></div>
                                </div>
                                
                                <div class="row" v-if="para.img && para.img.length > 1">
                                    <div class="col-lg-6 col-md-10 col-sm-12 div-img" v-for="(img, ct) in para.img"> 
                                         <figure  :id="img.id"><img :src="img.src" :alt="img.alt" :title="img.title" class="b-lazy b-loaded" :width="img.width" :height="img.height"><figcaption>{{ img.legend }}</figcaption></figure>
                                    </div>
                                </div>
                                <div class="row" v-if="para.img && para.img.length == 1">
                                        <div class="col-md-8 col-sm-12 div-img" v-for="(img, ct) in para.img"> 
                                             <figure  :id="img.id"><img :src="img.src" :alt="img.alt" :title="img.title" class="b-lazy b-loaded" :width="img.width" :height="img.height"><figcaption>{{ img.legend }}</figcaption></figure>
                                        </div>
                                </div>
                        </div>

                        <div id="credits" class="container">
                                <article class="no-separator row d-flex justify-content-center">
                                    <div class="small">
                                        <p>Léa Sanchez</p>
                                        <p>Utilisation des libraries D3.js, Highcharts.js et Juxtapose.js</p>
                                    </div>
                                </article>

                    
                        </div>
                    </div>
                </div>
        </section>
        <script type="text/javascript" src="static/js/libs/highcharts.js"></script>
        <script type="text/javascript" src="static/js/libs/d3.js"></script>
        <script type="text/javascript" src="static/js/libs/jquery.js"></script>
        <script type="text/javascript" src="static/js/libs/bootstrap.js"></script>

        <script src="static/js/libs/vue.js"></script>
        <script src="static/js/libs/vue-router.js"></script>
        <script src="static/js/main.js"></script>
        <script src="static/js/dataviz.js"></script>
        <script src="static/js/piechart.js"></script>
        <script type="text/javascript" src="static/js/libs/juxtapose.js"></script>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</body>
</html>