/* Header on desktop */

header[role=navigation] {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    box-sizing: border-box;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,.5);
    padding: 10px;
    width: 100%;
    height: 45px;
    z-index: 9999 !important;
}

header {
    z-index: 1;
    margin-bottom: 40px;
}

header .logo a {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    border-bottom: 0;
    float: left;
    text-indent: -9999px;
    /* height: 2rem;
    width:5rem; */
    height: 21px;
    width: 145px;
    max-width: 300px;
}


/* header on mobile */

@media only screen and (max-width:992px) {

    header[role=navigation] {
        left: inherit;
    }
    
    body, header[role=navigation] {
        width: 100%;
        margin: 0 auto;
    }

    header .logo a {
        margin-top: 3px;
        height: 20px;
        width: 118px;
    }
    
    header {
        margin-bottom: 0;
    }
    

}

/* cover desktop */

section {
    overflow: hidden;
    padding-top: 45px;
    text-align: left;
}

header figure {
    position: relative;
    overflow: hidden;
}

.b-lazy.b-error, .b-lazy.b-loaded {
    opacity: 1;
}
.b-lazy {
    transition: opacity .3s ease-in-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    max-width: 100%;
    opacity: 0;
}
figure img {
    height: auto;
}
figure iframe, figure img {
    margin: 0 auto;
    width: 100%;
}
header figure figcaption {
    display: none;
}
figure figcaption {
    color: #8e9192;
    display: block;
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 570px;
}


/* cover mobile */

@media only screen and (max-width:992px) {

    figure {
        margin: 0;
        font-size: 11px;
        color: #999;
        position: relative;
    }

    figure img {
        max-width: 100%;
    }
    img {
        display: block;
    }

}

/* titre */


header h1 {
    color: #171b1e;
    font: normal 50px/54px Sanchez,Times,serif;
    margin: 60px auto;
    max-width: 1400px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding-left:15%;
    padding-right: 15%;
}

@media only screen and (max-width:992px) {

    header h1, section article>h2 {
        font-size: 22px;
        line-height: 1.2em;
        margin: 30px auto;
    }
    header h1, section article>div>iframe, section article>div>p, section article>h2, section article>p {
        -moz-box-box-sizing: border-box;
        -webkit-box-box-sizing: border-box;
        box-sizing: border-box;
        /* padding: 0 10px!important; */
    }

}

/* arrow */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
header figure:after {
    background-image: url(../img/arrow.png);
    background-size: 157px 151px;
}
}

header figure:after {
    background-image: url(../img/arrowsmall.png);
    background-position: -55px -91px;
    width: 39px;
    height: 44px;
    position: absolute;
    bottom: -12px;
    left: 50%;
    content: "";
    margin-left: -19.5px;
}

/* article desktop */

.first-letter {
    float: left;
    font-size: 90px;
    line-height: 89px;
    margin: -5px 10px 5px 0;
}

section article .small>iframe, section article .small>p iframe, section article .small figure, section article .small p, section article>blockquote, section article>h2, .d_container_grumpy {
    margin-left: auto;
    margin-right: auto;
    max-width: 570px;
    width: 100%;
}

article {
    margin: 1.5em !important;
}


p {
    margin: 30px 0;
}

/* Other */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*, :after, :before {
    box-sizing: border-box;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

body {
    line-height: 1;
    min-width: 200px;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}

*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}

a {
    color: #000;
    /* border-bottom: 2px solid #195f91;
    text-decoration: none; */
    border-bottom: 2px solid #195f91;
    text-decoration: none;
    color: #195f91;
}

body {
    color: #171b1e;
    font-family: Sanchez,Times,serif;
    font-size: 16px;
    line-height: 24px;
}

figcaption {
  color: #999;
  font-size: 13px;
  font-style: normal;
  line-height: 20px;
  margin-top: 5px;
}

/* CHAPO  */

.chapo {
    font-weight: bold;
}

section .points-before:before {
  background-image: url(../img/arrowsmall.png);
  background-position: -96px -104px;
  width: 46px;
  height: 11px;
  content: "";
  display: block;
  margin: 50px auto;
}

section .points:after {
    background-image: url(../img/arrowsmall.png);
    background-position: -96px -104px;
    width: 46px;
    height: 11px;
    content: "";
    display: block;
    margin: 40px auto;
}

*, :after, :before {
    box-sizing: border-box;
}

i {
    font-style:italic;
}

.small {
    margin: 0 auto;
    max-width: 100%;
}

article>h2 {
    color: #171b1e;
    font: normal 30px/34px Sanchez,Times,serif;
    margin: 60px 0;
    text-align: center;
    text-transform: uppercase;
}

circle {
    stroke: black;
    stroke-width: 1px;
    opacity: .8;
}


.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    background-color: #000;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .tooltip.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
  .tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
  }
  .tooltip.right {
    margin-left: 3px;
    padding: 0 5px;
  }
  .tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0;
  }
  .tooltip.left {
    margin-left: -3px;
    padding: 0 5px;
  }
  .tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    border-radius: 4px;
  }
  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  .tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000000;
  }
  .tooltip.top-left .tooltip-arrow {
    bottom: 0;
    left: 5px;
    border-width: 5px 5px 0;
    border-top-color: #000000;
  }
  .tooltip.top-right .tooltip-arrow {
    bottom: 0;
    right: 5px;
    border-width: 5px 5px 0;
    border-top-color: #000000;
  }
  .tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000000;
  }
  .tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000000;
  }
  .tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000000;
  }
  .tooltip.bottom-left .tooltip-arrow {
    top: 0;
    left: 5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000000;
  }
  .tooltip.bottom-right .tooltip-arrow {
    top: 0;
    right: 5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000000;
  }

  .popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    white-space: normal;
  }
  .popover strong {
    font-weight: bold;
  }
  .popover.top {
    margin-top: -10px;
  }
  .popover.right {
    margin-left: 10px;
  }
  .popover.bottom {
    margin-top: 10px;
  }
  .popover.left {
    margin-left: -10px;
  }
  .popover-title {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
  }
  .popover-content {
    padding: 9px 14px;
  }
  .popover .arrow,
  .popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  .popover .arrow {
    border-width: 11px;
  }
  .popover .arrow:after {
    border-width: 10px;
    content: "";
  }
  .popover.top .arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #999999;
    border-top-color: rgba(0, 0, 0, 0.25);
    bottom: -11px;
  }
  .popover.top .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #ffffff;
  }
  .popover.right .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: #999999;
    border-right-color: rgba(0, 0, 0, 0.25);
  }
  .popover.right .arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #ffffff;
  }
  .popover.bottom .arrow {
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999999;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    top: -11px;
  }
  .popover.bottom .arrow:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #ffffff;
  }
  .popover.left .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999999;
    border-left-color: rgba(0, 0, 0, 0.25);
  }
  .popover.left .arrow:after {
    content: " ";
    right: 1px;
    border-right-width: 0;
    border-left-color: #ffffff;
    bottom: -10px;
  }

  svg {
    margin: 0 auto;

    display: block;
  }
  #dataviz h2 {
    font-weight: bold;
    color: #171b1e;
    /* font: normal 30px/34px Sanchez,Times,serif; */
    margin: 60px 0;
    text-align: center;
    text-transform: uppercase;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1em;
   
  }

  #dataviz hr {
    height: 1px;
    color: #E2E4E9;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    max-width: 570px;
    width: 100%;
  }

  #dataviz .description {
    margin-left: auto;
    margin-right: auto;
    max-width: 570px;
    /* margin-bottom: 3em; */
    width: 100%;
    font-size: 15px;
    color: #717B8E;
    letter-spacing: 0;
    /* text-align: left; */
    line-height: 23px;
  }

  #dataviz .d_graph_title{
    max-width: 570px;
    /* text-align: center; */
    margin: 0 auto;
  }



@media only screen and (min-width:992px) {
  #dataviz h2 {
    font: normal 30px/34px Sanchez,Times,serif;
    /* margin: 60px 0; */
    margin-left: 20%;
    margin-right: 20%;
  }
  .points {
  
    margin: 0 auto !important;
    
  }


}

#dataviz, #dataviz-data {
  padding: 7px;
}

article p.bullet {
  position: relative;
  margin: 30px 0;
  padding: 0 0 0 37px;
}

article p.bullet, article p.number, article p.subheader {
  font: normal 15px/17px Sanchez,Times,serif !important;
  color: #000;
  letter-spacing: -.3px;
}

article p.bullet:before {
  content: "";
  height: 20px;
  width: 20px;
  background: #ffc300;
  border-radius: 50%;
  margin: 0 12px 5px 0;
  position: absolute;
  left: 0;
  color: #000;
  vertical-align: middle;

  /* height: 25px;
  width: 25px;
  background: #ffc300;
  border-radius: 50%;
  margin: 0 12px 5px 0;
  position: absolute;
  left: -12px;
  color: #000;
  vertical-align: middle;
  /* content: " ↓"; 
  text-align: center;
  padding: 5px;
  padding-bottom: 4px; */
}

.arrow-bullet {

  height: 25px;
  width: 25px;
  background: #ffc300;
  border-radius: 50%;
  margin: 0 12px 5px 0;
  position: absolute;
  left: -12px;
  color: #000;
  vertical-align: middle;
  content: " ";
  text-align: center;
  padding: 5px;
  padding-bottom: 4px;
}

.methodo {
  align-content: center;
  /* margin: auto;
  width: 50%; */
  font: normal 15px/14px Sanchez,Times,serif !important;
}

.methodo-link {
  cursor: pointer;
  text-decoration: underline;
}

.btn-primary {
  color: #000;
  background-color: #ffc500;
  border-color: #4cae4c;
  display: inline-block;
  padding: 6px 12px;
  margin:5px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  
}

.learn-more {
  margin-top:3em !important;
}



/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 33%;
  height: 340px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  -ms-perspective: 1000px;
}
@media only screen and (max-width:780px) {
  .flip-card {
    width: 100%;
    height: 330px;
  }

}


  /* @media only screen and (min-width:600px) and (max-width:780px) {
    .flip-card {
      width: 100%;
      height: 250px;
    }
  } */

@media only screen and (min-width:781px) and (max-width:1450px) {
  .flip-card {
    height: 440px;
  }
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  -webkit-transition:  transform 0.8s;
  -moz-transition:  transform 0.8s;
  -o-transition:  transform 0.8s;
  -ms-transition:  transform 0.8s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

.reverseCard {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}
/* .flip-card:hover .flip-card-inner  {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}

.flip-card:active .flip-card-inner { color: red !important; 

}  */


/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  visibility:visible;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #ffc500;
  color: #222;
}

/* Style the back side */
.flip-card-back {
  color: white;
  background-color: #999;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}

.players {
  margin-top: 3em;
}

.flip-card-inner p {
  margin: 4px;
  text-align: center;
}


.card-img {
  width: 16vh;
  /* max-width: 100px; */
  max-width: 140px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 2px white;
  box-shadow: 5px black;
}

.card-quote {
  padding: 10px;
  margin-top: 2rem;
  font-style: italic;
}

.text-card {
  position: relative;
  top: 50%;
  /* -webkit-transform: translateY(-50%); */
  -webkit-transform: -webkit-translateY (-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card-name {
  font-size: 22px;
  line-height: 1.2em;
  text-align: center;
}

@media only screen and (max-width:600px) {

  .card-img {
    width:30%;
    margin-bottom: 0.8rem;

  }

  .card-quote {
    margin-top: 0.2rem;
  }

  .flip-card-inner p {
    line-height: 1.15;
    /* font-size: 12px; */
  }
}



/* citation */

blockquote, cite {
  position: relative;
  color: #222;
  display: block;
  font-size: 21px;
  font-style: italic;
  line-height: 25px;
  padding-left: 30px;
  margin-bottom: 2em;
  margin-top: 1em;
}
blockquote, q {
  quotes: none;
}

blockquote:before, cite:before {
  background-image: url(../img/arrowsmall.png);
  background-position: -96px -117px;
  width: 15px;
  height: 17px;
  position: absolute;
  top: 3px;
  left: 0;
  content: "";
  display: inline-block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  blockquote:before, cite:before {
      background-image: url(../img/arrow.png);
      background-size: 157px 151px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  blockquote p:last-of-type:after, cite p:last-of-type:after {
      background-image: url(../img/arrow.png);
      background-size: 157px 151px;
  }
}
blockquote p:last-of-type:after, cite p:last-of-type:after {
    background-image: url(../img/arrowsmall.png);
    background-position: -113px -117px;
    width: 15px;
    height: 17px;
    content: "";
    display: inline-block;
    margin-left: 15px;
}

blockquote>div>span, blockquote>footer, blockquote>span, cite>footer {
  color: #999;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  margin-top: 10px;
}

#d_container_1556898916{
  padding:5px 5px 0px 10px;
  width:100%;
  font-family: Sanchez,Times,serif;
  margin-bottom: 3rem;
}
#d_container_1556898916 .d_graph_title, #dataviz .d_graph_title {
  font-size: 17px;
  letter-spacing: 0;
  text-align: left;
  line-height: 26px;
  padding-bottom:10px;
  color: #171b1e;
  font: normal 20px/24px Sanchez,Times,serif;
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
 }
 #d_container_1556898916 .d_graph_subtitle{
  display:block;
  margin: 10px 0;
  font-size: 15px;
  color: #717B8E;
  letter-spacing: 0;
  text-align: left;
  line-height: 23px;
}
#d_container_1556898916 hr {
  height: 1px;
  color: #E2E4E9;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
#d_container_1556898916 .d_graph_subtitle hr {
    margin-bottom:0px;
}

 /* {
  font-size: 15px;
  color: #717B8E;
  letter-spacing: 0;
  text-align: left;
  line-height: 23px;
} */
.d_graph_credit a:link {
    color:#026B9C;
 }
#d_container_1556898916 .d_graph_grumpy .tooltipdiv {
  margin:0px;
  z-index: 9999 !important;
  background-color:#ffffff;
  font-family: Sanchez,Times,serif;
  font-size: 12px;
  color: #2A303B;
  letter-spacing: 0.5px;
  text-align: left;
  line-height: 23px;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid rgb(226, 228, 233);
}
#d_container_1556898916 .d_graph_grumpy .highcharts-tooltip-box {
    display:none;
}

.highcharts-data-label{
  font-family: Sanchez,Times,serif;
}

.div-img {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

input[type=range]
{
    -webkit-appearance: none;
    background-color: #777;
    height: 3px;
    position: relative;
    bottom:3px;
    margin-right: 1.3rem;
}

input[type="range"]::-webkit-slider-thumb
{
    -webkit-appearance: none;
    background-color: #ccc;
    border: 1px solid #888;
    opacity: 1.0;
    width: 14px;
    height: 14px;
    border-radius: 14px;
}

input:focus, textarea {
  outline: none !important;
}
button:focus {outline:0;}

button:active {
  outline: none;
  border: none;
}

.seeAnimation {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
  display: flex;
  /* Cette valeur peut être changée dans l'exemple */
  justify-content: space-evenly;
  max-width: 570px;
  margin: 0 auto;
  padding-top:2.5rem;
  padding-bottom:2.5rem;
}


#playButton {
  /* margin-top: 1rem; */
  background-color: #ffc300;
  background-color: #f2f2f2;
  font-family: Sanchez,Times,serif;
  padding: 5px;
  color:black
}

#playButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



.methodo-border {
  /* border: 1px solid #E2E4E9; */
  padding: 10px;
  margin-top:10px;
}

#inner-dataviz{
  max-width: 700px;
  margin: 0 auto;
  border: 1px solid #E2E4E9;
}

.methodo-title{
  text-align: center;
  text-transform: uppercase;
}


#laracroft, #misspacman {
  width: 100%;
  border: 1px solid #E2E4E9;
  padding: 10px;
  color: #5b6473;
  margin: 0 auto;
}

.juxtapose {

  height: 14.95em !important;
  width: 13em !important;
  /* max-width: 80% !important; */
  margin-top: 5px !important;
  margin: 0 auto;
}
.jx-knightlab {
  display: none !important;
}

#laracroft figcaption {
  text-align: center;
}

#misspacman iframe {
  margin-top: 10px !important;
}
@media only screen and (min-width:600px) {

  #laracroft, #misspacman  {
    width: 100%;
    border: 1px solid #E2E4E9;
    padding: 25px;
    color: #5b6473;
  }
  .juxtapose {

    height: 26.45em !important;
    width: 23em !important;
    max-width: 100% !important;

  }
}

.juxta-explain {
  margin-top: 15px !important;
  text-align: center;
  padding: 5px;
}

.video-container {
  margin-top:15px;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.players figcaption {
  text-align: center;
}

.toCenter {
  margin: 0 auto;
  margin-top:20px;
}

twitter-widget {
  margin: 0 auto;
}

footer.v2 {
  position: relative;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  footer.v2 a#back-link {
      background-image: url(../img/arrow.png);
      background-size: 157px 151px;
  }
}

footer.v2 a#back-link {
  background-image: url(../img/arrowsmall.png);
  background-position: 0 -91px;
  width: 53px;
  height: 60px;
  border-bottom: 0;
  position: absolute;
  top: -45px;
  left: 50%;
  display: block;
  text-indent: -9999em;
  margin-left: -26.5px;
}

footer.v2:before {
  background-color: #222;
  content: "";
  display: block;
  width: 100%;
  height: 25px;
}

#global {
  margin-bottom: 8vh;
}